@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\000031}}
html body {
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\000032}}
header {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.125%;
  height: 48px;
  position: fixed;
  background: #8E488E;
  display: flex;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000312}}
  header div {
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    flex: 8; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000319}}
  header a {
    height: 48px;
    width: 56.25%;
    flex: 1;
    color: #FFFFFF;
    line-height: 48px;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000327}}
  header a:nth-child(1) {
    font-size: 18px;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000333}}
section {
  position: relative;
  top: 48px;
  width: 100%;
  background-color: #f1f5f6;
  overflow: hidden;
  margin-bottom: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000340}}
  section h4 {
    height: 34px;
    line-height: 34px;
    background-color: #f1f5f6; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000345}}
  section aside {
    float: left;
    width: 31.25%;
    text-align: center;
    font-size: 14px;
    background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000351}}
    section aside h4 {
      color: #fe3d3d;
      height: 40px;
      line-height: 40px;
      background-color: #f1f5f6; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000358}}
    section aside ul li {
      height: 40px;
      line-height: 40px;
      border-bottom: #fe3d3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000362}}
      section aside ul li a {
        display: block;
        color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000367}}
  section .list {
    float: right;
    margin: 0 3.125%;
    width: 62.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000371}}
    section .list .content {
      width: 100%;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000377}}
      section .list .content div {
        width: 33.333%;
        height: 75px;
        display: block;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000382}}
        section .list .content div img {
          width: 100%;
          height: 60px;
          display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\0000392}}
footer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 54px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px #ccc;
  background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\00003101}}
  footer a {
    flex: 1;
    font-size: 12px;
    color: #777;
    height: 70px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\00003110}}
    footer a span {
      line-height: 24px;
      width: 100%;
      text-align: center;
      padding-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tuisong\/oya\/sass\/liebiao\.scss}line{font-family:\00003116}}
    footer a i {
      width: 100%;
      text-align: center; }
