body{font-size: 50px;padding: 0; margin: 0;}
header{
    box-sizing: border-box;
    width: 100%;
    padding: 0rem 0.1rem 0rem 0.1rem;
    height: 0.48rem;
    position: fixed;
    background: #8E488E;
    display: flex;
    div{
        font-size:16px;
        color: #fff;
        line-height: 0.48rem;
        text-align: center;
        flex: 8;
    }
    a{
        height: 100%;
        width: 0.18rem;
        flex:1; 
        color: #FFFFFF; 
        line-height: 0.48rem;
        text-align: right;
    }
    a:nth-child(1){
        font-size: 0.18rem;
        text-align: left;   
    }
}


footer{
    height: 0.46rem;
    width:100%;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    display: flex;
    text-align: center;
    line-height: 0.46rem;
    label{
        flex: 2;
        height: 0.46rem;
    }
    a:nth-child(2){
        flex: 3;
        color: #FFFFFF;
        background:#dd3d97 ;
        i{
            margin-left: 6px;
        }
    }
    a:nth-child(3){
        flex: 4;
        color: #FFFFFF;
        background-color: #8E488E;
    }
}
